name: system libs

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install playwright colorama

      - name: Install Playwright browsers
        run: |
          playwright install chromium
          playwright install-deps

      - name: Run Python script
        run: |
          for i in {1..10}
          do
            echo "Run #$i"
            python main.py
          done
